body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-family: Montserrat, sans-serif;
}

button {
    background: teal;
    border: none;
    color: white;
    padding: 12px;
    font-size: 20px;
}